<h3>Séléctionner une categories</h3>

<table>
  <tr>
    <th>Categories</th>
  </tr>

<% @categoris.each do |categori| %>
  <tr>
    <td><%= categori.nom %></td>
   
     <td><%= link_to "Visualiser Produit", {:controller => "categoris", :action => "listProduit", :categori => categori}%></td>
  </tr>
<% end %>
</table>

<br/>

