<h1>List categoris</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoris.each do |categori| %>
  <tr>
    <td><%= categori.nom %></td>
    <td><%= categori.description %></td>
   
     <td><%= link_to "List Produit", {:controller => "categoris", :action => "listProduit", :categori => categori}%></td>
  </tr>
<% end %>
</table>

<br/>

