<h2>Historique des achats </h2>
<br /><br /><br /><br />
<h3><%= link_to "Mon panier", {:controller => "users", :action => "afficherCommande"}%></h3>
<h3><%= link_to "Mes commandes", {:controller => "commandes", :action => "commandeEffectuerUser"}%></h3>
