<h3>Votre Panier</h3>

<table>
  <tr>
    <th align='center'>Produit</th>
    <th align='center'></th>
    <th align='center'></th>
  </tr>
<!-- lister le panier --> 
<% @user.commandes.each do |commande| %>
  <% if commande.payer==false  %>
  <tr>
    <!-- produit ajouter au panier --> 
    <td align='center'><%= Produit.find_by_id(commande.produit_id).nom %></td>
    <!-- retiré le produit du panier --> 
    <td align='center'><%= link_to "Retirer du Panier", {:controller => "commandes", :action => "destroy", :commande => commande}%></td>
    <!-- commander le produit --> 
    <td align='center'><%= link_to "commander", {:controller => "commandes", :action => "payement", :commande => commande}%></td>
    
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to "Retour", {:controller => "commandes", :action => "mesAchat"}%>
