
<footer>        
	<nav class="round">
		 	<%= link_to "  A Propos  ", {:controller => "pages", :action => "about"}  %></li>
			<%= link_to "  Contact  ", {:controller => "pages", :action => "contact"}  %></li>
			<%= link_to "  Aide  ", {:controller => "pages", :action => "help"} %></li>
		
	</nav>
</footer>
